* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: monospace;
}

header {
  padding: 20px;
  text-align: center;
  background: #ededed;
  border-bottom: 2px solid #424242;
}

.container {
  display: flex;
}

.dialog {
  margin: 2rem;
  padding: 2rem;

  pre {
    white-space: normal;
    word-break: break-all;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .container > h1 {
    display: none;
  }
}
